body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #08e2ff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    background: #0b82e4;
    border: 1px solid #48a9eb;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: calc(30% - 40px); /* Ajuste para 3 colunas */
    box-shadow: 0 2px 5px rgba(6, 238, 188, 0.1);
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #0595e9;
    position: relative;
    bottom: 0;
    width: 100%;
}
